page-home {
  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }


  ion-card {
    align-items: center;
    text-align: center;
    padding: 20px;
    opacity: 0.9;

    ion-col {
      text-align: left;
      font-size: 1.6rem;
    }

  }
  .logo-home {
    text-align: center;
    .logo {
      width: 83%;
      height: auto;
    }
  }


  .transparent-header {
    background-image: url("../../assets/imgs/background-login.jpg");
  }

  .main-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
  }
  span {
    color: white;
  }

  ion-item {
    // border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
  }




  .div-button {
    text-align: right;

  }

  @media only screen and (min-width: 768px) {
    .main-home {
      margin: 0 auto;
      max-width: 40%;
    }
  }

}
