// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode classes is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: LatoRegular;
  src: url('../assets/fonts/Lato-Regular.ttf') format('ttf');
}
@font-face {
  font-family: LatoBold;
  src: url('../assets/fonts/Lato-Bold.ttf') format('ttf');
}

* {
  font-family: LatoRegular, Arial, sans-serif;
}

.nav-bar {
  background-color: $orange;
  color: #ffffff;
  text-transform: uppercase;
}

.transparent-header {
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }
}



.green {
  background-color: $green;
  @include border-radius(50px);
  text-transform: uppercase;
}

.blue {
  background-color: $blue;
  @include border-radius(50px);
  text-transform: uppercase;
}

