page-add-new-event {

  color: $grey;

  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }

  .add-nav * {
    color: $grey;
    font-size: 1.7rem;
    text-transform: uppercase;

    span {
      color: $orange;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  ion-list-header {
    margin-bottom: 0px !important;
    margin-top: 20px !important;
  }

  ion-list-header, .label-text {
    text-transform: uppercase !important;
    text-align: left !important;
    color: $orange !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
  }

  ion-list {
    margin-bottom: 20px !important;
    ion-item {
      ion-label {
        color: $grey !important;
        font-weight: normal !important;
        text-transform: capitalize !important;
      }
    }

    .date-choose {
      text-transform: none !important;
      font-size: 1.2rem !important;
    }

    span {
      color: $orange;
      font-weight: bold;
      font-size: 2rem;
    }
  }


  .card-form-add {
    margin: 60px auto;
    border-radius: 5px;
    text-align: center;
    .date-choose {
      span {
        font-size: 1.2rem;
      }
    }

    .theme-choose {
      ion-item {
        max-height: 32px !important;
      }

      .sport ion-label,
      .job ion-label,
      .learning ion-label,
      .leisure ion-label,
      .health ion-label,
      .household ion-label,
      .other ion-label,
      .altruism ion-label {
        border-radius: 5px;
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 10px;
      }

      .sport ion-label {
        border-left: 3px solid yellow;
      }
      .job ion-label {
        border-left: 3px solid blueviolet;
      }
      .leisure ion-label {
        border-left: 3px solid coral;
      }
      .household ion-label {
        border-left: 3px solid darkslateblue;
      }
      .health ion-label {
        border-left: 3px solid limegreen;
      }
      .learning ion-label {
        border-left: 3px solid palevioletred;
      }
      .altruism ion-label {
        border-left: 3px solid dodgerblue;
      }
      .other ion-label {
        border-left: 3px solid grey;
      }
    }

    .difficulty {
      display: flex;
    }

    .form-title {
      border-bottom: 1px solid lightgrey;
      border-radius: 2px;
      text-transform: uppercase;
    }
    .form-description {
      border-radius: 2px;
      text-transform: uppercase;
      padding-bottom: 20px;
    }

    .green {
      width: 90%;
      margin: 30px auto;
    }
  }

}
