page-add-new-event {

  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }

  .add-nav * {
    color: $grey;
    font-size: 1.7rem;
    text-transform: uppercase;

    span {
      color: $orange;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .card-form-add {
    margin-top: 60px;
    border-radius: 5px;
  }

}
